body {
  margin: 0;
  background-color: #161819;
  color: #617078;
  text-align: center;
  font: 12px/1.5 'Titillium Web', sans-serif;
}
h1 {
  height: 1em;
  margin: 0.5em 0;
  font-size: 3em;
  line-height: 1;
  white-space: nowrap;
}
h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0.5em 0;
  background-color: #30383b;
  font-size: 1em;
}
.button, .double-click-button a {
  color: #3d484c;
  text-decoration: none;
}
.button {
  display: inline-block;
  border: 0.1em solid #444f55;
  border-radius: 0.3em;
  padding: 0.5em;
  background-color: #617078;
  font-size: 1em;
  line-height: 1;
  font-weight: bold;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.button:hover {
  background-color: #6f828b;
}
.button:active {
  background-color: #546269;
}
.demos {
  width: 81em;
  margin: auto;
  padding-left: 0.5em;
}
.demo-float {
  float: left;
}
.demo-clear {
  clear: left;
}
.demo {
  padding: 0.5em;
}
.demo-content {
  position: relative;
  width: 19em;
  height: 9em;
  background-color: #22282a;
}
.demo.demo-2x1 .demo-content, .demo.demo-2x2 .demo-content {
  height: 18em;
}
.demo.demo-1x2 .demo-content, .demo.demo-2x2 .demo-content {
  width: 38em;
}
.double-click-button {
  margin: 2em;
  padding: 0;
}
.double-click-button a, .double-click-button span {
  display: block;
}
.double-click-container {
  position: relative;
  width: 8em;
  height: 2em;
  overflow: hidden;
}
.double-click-scroll {
  position: absolute;
  left: 0;
  width: 100%;
  animation-name: scroll;
  animation-duration: 3600s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.double-click-option {
  position: relative;
  left: 0;
  width: 100%;
}
.double-click-buffer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  clip: rect(0, auto, auto, 0);
  clip-path: inset(0);
}
.double-click-label {
  position: fixed;
  top: 8.6em;
  right: 50%;
  width: 8em;
  height: 2em;
  margin-right: 26.25em;
  text-align: center;
  line-height: 2;
}
.double-click-anchor {
  position: relative;
  width: 100%;
  height: 20em;
}
.double-click-filler {
  position: relative;
  width: 100%;
  height: 80000em;
}
#browser.demo .demo-content {
  overflow: hidden;
}
.browser-sidebar, .browser-content, .browser-directory, .browser-pane,
.browser-preview {
  height: 19.375em;
}
.browser-sidebar, .browser-content, .browser-pane, .browser-sidebar a,
.browser-content a, .browser-pane a {
  color: #22282a;
}
.browser-sidebar, .browser-content, .browser-pane {
  font-size: 0.8em;
}
.browser-sidebar, .browser-content {
  text-align: left;
  line-height: 1.8;
}
.browser-sidebar, .browser-pane {
  position: absolute;
  top: 0;
}
.browser-sidebar {
  left: 0;
  z-index: 1;
  width: 10em;
  background-color: #546269;
}
.browser-sidebar h3 {
  height: 1.8em;
  margin: 0;
  padding: 0 0.5em;
  text-transform: uppercase;
  font-size: 1em;
}
.browser-sidebar h3:first-child {
  padding-top: 0.3em;
}
.browser-sidebar a, .browser-content a {
  text-decoration: none;
  cursor: default;
}
.browser-sidebar a {
  display: block;
  height: 1.8em;
  padding-left: 1em;
}
.browser-sidebar a:active, .browser-sidebar a.active,
.browser-content a:active,
.browser-content a:active + .browser-directory-toggle +
.browser-directory-arrow {
  background-color: #30383b;
  color: #617078;
}
.browser-content {
  padding-left: 10em;
  overflow: hidden;
}
.browser-anchor {
  display: block;
}
.browser-directory {
  background-color: #6f828b;
}
.browser-directory .browser-sidebar {
  position: static;
  float: left;
  width: 0;
  font-size: 1em;
  background-color: transparent;
}
.browser-directory .browser-sidebar a.active {
  position: relative;
  margin-left: -10em;
  z-index: 1;
}
.browser-listing {
  height: 100%;
  padding: 0.5em 0;
  line-height: 1.3;
}
.browser-directory-toggle {
  display: none;
}
.browser-directory-arrow::before {
  content: '\23f5';
  float: left;
  width: 0.5em;
  height: 1em;
  margin-top: -1.3em;
  padding-left: 0.5em;
}
.browser-directory-toggle:checked + .browser-directory-arrow::before {
  content: '\23f7';
  width: 0.6em;
  padding-left: 0.4em;
}
.browser-listing a {
  display: block;
  height: 1.3em;
  padding-left: 1.5em;
}
.browser-directory-folder a {
  margin-left: -1.5em;
  padding-left: 3em;
}
.browser-directory-folder .browser-directory-folder a {
  margin-left: -3em;
  padding-left: 4.5em;
}
.browser-item:before {
  display: inline-block;
  width: 1.5em;
}
.browser-item::before {
  content: '\01f4c1';
  display: inline-block;
  width: 1.5em;
}
.browser-item.browser-item-directory:before {
  content: '\01f4c1';
}
.browser-item.browser-item-directory::before {
  content: '\01f4c1';
}
.browser-item.browser-item-document:before {
  content: '\01f4c4';
}
.browser-item.browser-item-document::before {
  content: '\01f4c4';
}
.browser-item.browser-item-picture:before {
  content: '\01f304';
}
.browser-item.browser-item-picture::before {
  content: '\01f304';
}
.browser-item.browser-item-video:before {
  content: '\01f3ac';
}
.browser-item.browser-item-video::before {
  content: '\01f3ac';
}
.browser-directory-folder {
  display: none;
  margin-left: 1.3em;
}
.browser-directory-toggle:checked + .browser-directory-arrow +
.browser-directory-folder {
  display: block;
}
.browser-pane {
  right: 0;
  width: 15em;
  overflow: hidden;
}
.browser-preview {
  display: block;
  background-color: #617078;
  line-height: 1.2;
}
.browser-preview > i {
  display: block;
  padding-top: 0.2em;
  font-style: normal;
  font-size: 8em;
}
.browser-preview > h3 {
  margin: 0;
  font-weight: normal;
  font-style: 1.2em;
}
.browser-preview > table {
  font-size: 0.8em;
  width: 100%;
  margin-top: 0.5em;
  border-spacing: 0.5em;
}
.browser-preview > table th {
  font-weight: normal;
  color: #3d484c;
}
.browser-preview > table tr > :first-child {
  text-align: right;
}
.browser-preview > table tr > * + * {
  text-align: left;
}
#modal.demo .demo-content {
  z-index: 1;
}
.modal-button {
  width: 8em;
  margin: 2em;
}
.modal-toggle {
  display: none;
}
.modal-dialog {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.modal-toggle:checked + .modal-dialog {
  display: block;
}
.modal-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.7;
}
.modal-dialog h3 {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  padding: 0.6em;
  background-color: #617078;
  font-size: 1.6em;
  line-height: 1;
}
.modal-content {
  position: relative;
  width: 40em;
  margin: 4em auto;
  padding: 4em 1em 6em 1em;
  background-color: #6f828b;
  color: #3d484c;
  text-align: left;
}
.modal-actions {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 0.5em;
  background-color: #546269;
}
.modal-actions .button {
  float: right;
  margin: 1em 0.5em;
}
@media screen and (max-width: 743px) {
  body {
    font-size: 7px;
  }
}
@media screen and (max-width: 987px) {
  body {
    font-size: 9px;
  }
}
@media screen and (min-width: 1392px) {
  body {
    font-size: 16px;
  }
}
@media screen and (min-width: 1860px) {
  body {
    font-size: 21px;
  }
}
@keyframes scroll {
  0% {
    top: 0;
  }
  100% {
    top: -240004em;
  }
}
